/* src/styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: white;
  color: black;
}

/* Dark theme */
body.dark-mode {
  background-color: black;
  color: white;
}
